<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Finder</title>

    <!-- <link href={{url_for('static', filename='index.css' )}}> -->

</head>

<body>
    {% extends "base.html" %}
    {% block content %}
    <div class="centerall" style="text-align: center;">
        <h2>Word Finder</h2>
        <br>
        <form method='post'>
            <div class="row justify-content-md-center">
                <fieldset>

                    <div class="col-sm"><textarea class="form-control col-sm" name="letters" id="letters" cols="30"
                            rows="3" for="letters" type="text" style="width: 500px;"></textarea></div>


                </fieldset>
            </div>
            <br>
            <div class="row justify-content-md-center">
                <button type="submit" value="Submit" class="btn btn-primary col-4 middle">Find
                    Words</button>
            </div>
        </form>
        {% endblock %}

    </div>
</body>

</html>